@tailwind base;
@tailwind components;
@tailwind utilities;

/* designing the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background-color: #0d0f10;
  padding-left: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(173 58% 39%);
  border-radius: 10px;
}

@layer base {
  :root {
    --background: #f0f6ff;
    --foreground: #0a0f1e;
    --card: #ffffff;
    --card-foreground: #131a30;
    --popover: #ffffff;
    --popover-foreground: #131a30;
    --primary: #ffffff;
    --primary-foreground: #1c3d73;
    --secondary: #000;
    --secondary-foreground: #ffbf00;
    --muted: #1c3d73;
    --muted-foreground: #a6a9b3;
    --accent: #ffbf00;
    --accent-foreground: #0e1b33;
    --destructive: #fff;
    --destructive-foreground: #d72638;
    --border: #a6a9b3;
    --input: #a6a9b3;
    --ring: #1c3d73;
    --chart-1: #ffbf00;
    --chart-2: #d72638;
    --chart-3: #a6a9b3;
    --chart-4: #0e1b33;
    --chart-5: #1c3d73;
    --sidebar-background: #f0f6ff;
    --sidebar-foreground: #0e1b33;
    --sidebar-primary: #ffffff;
    --sidebar-primary-foreground: #1c3d73;
    --sidebar-accent: #000;
    --sidebar-accent-foreground: #ffbf00;
    --sidebar-border: #a6a9b3;
    --sidebar-ring: #1c3d73;
    --shadow: 0 4px 8px rgba(10, 15, 30, 0.2);
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0f1e;
    --foreground: #f0f6ff;
    --card: #131a30;
    --card-foreground: #f0f6ff;
    --popover: #131a30;
    --popover-foreground: #f0f6ff;
    --primary: #1c3d73;
    --primary-foreground: #ffffff;
    --secondary: #ffbf00;
    --secondary-foreground: #000;
    --muted: #a6a9b3;
    --muted-foreground: #1c3d73;
    --accent: #0e1b33;
    --accent-foreground: #ffbf00;
    --destructive: #d72638;
    --destructive-foreground: #fff;
    --border: #4f576f;
    --input: #16243d;
    --ring: #ffbf00;
    --chart-1: #1c3d73;
    --chart-2: #ffbf00;
    --chart-3: #d72638;
    --chart-4: #a6a9b3;
    --chart-5: #0e1b33;
    --sidebar-background: #0e1b33;
    --sidebar-foreground: #f0f6ff;
    --sidebar-primary: #1c3d73;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #ffbf00;
    --sidebar-accent-foreground: #000;
    --sidebar-border: #4f576f;
    --sidebar-ring: #ffbf00;
    --shadow: 0 8px 16px rgba(10, 15, 30, 0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply active:outline-none;
  }
}